.products__catalog {
  background-color: #f6f6f7;
}

.products__catalog__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 56px;
}

.products__catalog__title__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products__catalog__title {
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 42px;
  line-height: 44px;
  letter-spacing: 0px;
  color: #202223;
}

.products__catalog__sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 1 395px;
  gap: 8px;
}

.products__catalog__sort__txt {
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #202223;
}

.products__catalog__sort__select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 268px;
  padding: 8px 12px;
  border: 1px solid #babfc3;
  border-radius: 4px;
  background-color: white;
  position: relative;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.products__catalog__sort__select__active {
  font-family: SF Pro Text;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #202223;
}

.select__icon {
  display: flex;
  align-items: center;
  transition: linear 0.3s;
}

.select__icon__active {
  transform: rotate(180deg);
}

.products__catalog__sort__select__list {
  position: absolute;
  left: 0;
  top: 43px;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1),
    0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 8px 8px;
  z-index: 2;
  width: 100%;
  transition: 0.5s ease;
  transform: scaleY(0);
}

.products__catalog__sort__select__list__active {
  display: block;
  transition: 0.5s ease;
  transform: scaleY(1);
}

.products__catalog__sort__select__list__item {
  padding: 10px 8px;
  transition: 0.5s ease;
}

.products__catalog__sort__select__list__item:hover {
  background-color: #f6f6f7;
  border-radius: 4px;
}

.products__catalog__sort__select__list__item__txt {
  font-family: SF Pro Text;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #202223;
}

.products__catalog__products__box {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.products__catalog__products__filter {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 0 0 270px;
}

.promotional__item {
  padding: 18px 16px;
  border-radius: 5px;
  background-color: #ffffff;
}

.promotional__item__lbl {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.promotional__item__indicator {
  width: 18px;
  height: 18px;
  border: 2px solid #8c9196;
  border-radius: 4px;
  background-color: #ffffff;
}

.promotional__item__indicator__active {
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #008060;
  border: none;
}

.promotional__item__txt {
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #1a1c1d;
}

.products__catalog__filter__type {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 5px;
  background-color: white;
}

.products__catalog__filter__title {
  font-family: SF Pro Text;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #202223;
}

.products__catalog__filter__type__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.products__catalog__filter__type__list__item {
  display: flex;
  flex-direction: row;
  gap: 9px;
  cursor: pointer;
}

.products__catalog__filter__type__indicator {
  width: 18px;
  height: 18px;
  border-radius: 100px;
  border: 2px solid #8c9196;
}

.products__catalog__filter__type__indicator__active {
  background-image: url(../img/Checktype.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: 2px solid #008060;
}

.products__catalog__filter__type__txt {
  font-family: SF Pro Text;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #202223;
  white-space: nowrap;
}

.products__catalog__filter__brand {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 5px;
  background-color: white;
}

.products__catalog__filter__brand__src {
  display: flex;
  flex-direction: row;
  position: relative;
}

.products__catalog__filter__brand__src__img {
  position: absolute;
  top: 8px;
  left: 14px;
}

.products__catalog__filter__brand__src__input {
  font-family: SF Pro Text;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #6d7175;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #a7acb1;
  padding: 8px 0px 8px 40px;
}

.products__catalog__products__list__wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.products__catalog__products__list {
  display: grid;
  grid-template-columns: 270px 270px 270px;
  grid-auto-rows: 1fr;
  gap: 24px 30px;
}

.products__catalog__products__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 31px;
  background-color: white;
  border-radius: 5px;
  padding: 8px 8px;
  min-height: 420px;
  height: 100%;
  transition: linear 0.3s;
}

.products__catalog__products__card:hover {
  box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.1),
    0px 0px 2px 0px rgba(0, 0, 0, 0.06);
}

.products__catalog__products__card__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
  position: relative;
}

.products__catalog__products__card__sale__badge {
  font-family: SF Pro Text;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  background-color: #ff733b;
  color: white;
  padding: 2px 8px;
  border-radius: 2px;
  user-select: none;
  position: absolute;
  top: 8px;
}

.products__catalog__products__card__photo__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.products__catalog__products__card__photo__img {
  max-height: 130px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.products__catalog__products__card__title__link {
  font-family: SF Pro Text;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: black;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.products__catalog__products__card__quantity__container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.products__catalog__products__card__quantity__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.products__catalog__products__card__quantity {
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #202223;
  background-color: #e4e5e7;
  border-radius: 2px;
  padding: 2px 8px;
  align-self: flex-start;
  cursor: pointer;
  transition: linear 0.3s;
}

.products__catalog__products__card__quantity:hover {
  background-color: #449da7;
  color: white;
}

.products__catalog__products__card__quantity__active {
  color: white;
  background-color: #449da7;
}

.products__catalog__products__card__pay {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.products__catalog__products__card__pay__price {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 19px;
  white-space: nowrap;
}

.products__catalog__products__card__pay__price__box {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.products__catalog__products__card__pay__price__old {
  font-family: SF Pro Text;
  font-size: 14px;
  font-weight: 700;
  line-height: 130%;
  color: rgb(140, 145, 150);
  text-decoration: line-through;
  text-decoration-color: red;
  border: 1px dashed gainsboro;
}

.products__catalog__products__card__pay__price__p {
  font-family: SF Pro Text;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #202223;
}

.products__catalog__products__card__basked__add {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid #babfc3;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 8px;
}

.products__catalog__products__card__basked__img__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.products__catalog__products__card__basked__img {
  width: 20px;
  height: 20px;
  order: 2;
}

.products__catalog__products__card__plus__img {
  width: 10px;
}

.products__catalog__products__card__pay__btn {
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #202223;
  border-radius: 4px;
  border: 1px solid #00a0ac;
  padding: 8px 72px;
  background-color: white;
  white-space: nowrap;
  transition: linear 0.3s;
}

.products__catalog__products__card__pay__btn:hover {
  background-color: #00a0ac;
  color: #ffffff;
}

.products__catalog__products__list__slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products__catalog__products__list__slider__item__switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  background: none;
}

.products__catalog__products__list__slider__item__switch__img {
  display: flex;
  align-items: center;
}

.products__catalog__products__list__slider__item__switch__txt {
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #00a0ac;
}

.products__catalog__products__list__slider__pangination__wrap {
  max-width: 180px;
  overflow: hidden;
}

.products__catalog__products__list__slider__pangination {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  overflow-x: auto;
  padding-bottom: 2px;
}

.products__catalog__products__list__slider__pangination__item {
  font-family: SF Pro Text;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #00a0ac;
  cursor: pointer;
}

.products__catalog__products__list__slider__pangination__item__active {
  color: #6d7175;
}

.products__catalog__products__list__slider__pangination::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background-color: #f9f9fd;
}

.products__catalog__products__list__slider__pangination::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #18aaaa;
}

.products__catalog__products__list__slider__pangination::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.products__catalog__filter__type__count {
  font-family: "SF Pro Text";
  color: #202223;
  font-size: 14px;
  align-self: center;
}

.products__catalog__filter__brand__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
}

.products__catalog__filter__brand__item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.products__catalog__filter__brand__indicator {
  width: 18px;
  height: 18px;
  border: 2px solid #8c9196;
  border-radius: 4px;
  position: relative;
}

.products__catalog__filter__brand__indicator__active {
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #008060;
  border-color: #008060;
}

.products__catalog__filter__brand__txt {
  font-family: SF Pro Text;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #202223;
}

.products__catalog__filter__brand__count {
  font-family: SF Pro Text;
  font-size: 14px;
  color: #6d7175;
}

.products__catalog__filter__brand__sale {
  font-family: SF Pro Text;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #fd5749;
  margin-left: auto;
}

.products__catalog__filter__type__sale {
  font-family: SF Pro Text;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #fd5749;
  margin-left: auto;
}

.products__catalog__fliter__mobile__wrap {
  display: none;
}

.apply__filter__mobile {
  display: none;
}

.food__category__contain {
    display: flex;
    align-items: center;
    gap: 9px;
    cursor: pointer;
}

.food__subcategories__list {
    padding-left: 20px;
}

.food__subcategory__item {
    display: flex;
    align-items: center;
    padding: 6px 0;
    gap: 4px;
    cursor: pointer;
}

@media (max-width: 992px) {
  .products__catalog__title {
    font-size: 34px;
  }

  .products__catalog__products__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .products__catalog__fliter__mobile__wrap {
    display: block;
  }

  .products__catalog__filter__mobile__img {
    display: flex;
  }

  .products__catalog__products__filter {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100svh;
    background-color: white;
    padding: 0px 10px;
    gap: 0;
    top: 44px;
    left: -100%;
    transition: 0.5s ease;
  }

  .products__catalog__products__filter__active {
    left: 0px;
  }

  .promotional__item {
    border-bottom: 1px solid #8c9196;
    border-radius: 0px;
    padding: 18px 0px;
  }

  .products__catalog__filter__type {
    padding: 12px 0px;
    border-bottom: 1px solid #8c9196;
    border-radius: 0px;
  }

  .products__catalog__filter__brand {
    padding: 12px 0px;
    gap: 8px;
  }

  .products__catalog__filter__brand__list {
    height: 375px;
    overflow-y: auto;
  }

  .products__catalog__filter__brand__list::-webkit-scrollbar {
    width: 7px;
    background-color: #f9f9fd;
  }

  .products__catalog__filter__brand__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #18aaaa;
  }

  .products__catalog__filter__brand__list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
  }

  .products__catalog__filter__type__sale {
    margin-left: 0;
  }

  .products__catalog__filter__brand__sale {
    margin-left: 0;
  }

  .products__catalog__filter__title {
    font-size: 17px;
  }

  .products__catalog__filter__mobile__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    border: 1px solid #babfc3;
  }

  .products__catalog__filter__mobile__txt {
    font-family: SF Pro Text;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #202223;
  }

  .apply__filter__mobile {
    display: block;
    font-family: SF Pro Text;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #ffffff;
    background-color: #00a0ac;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.2) inset,
      0px 1px 0px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 8px 96px;
    margin-top: 12px;
  }

  .apply__filter__mobile:active {
    background-color: #347c84;
  }
}

@media (max-width: 768px) {
  .filter__catalog__wrapper {
    gap: 16px;
    padding: 16px 0px 32px 0px;
  }

  .products__catalog__wrapper {
    gap: 12px;
  }

  .products__catalog__products__list {
    margin-top: 12px;
  }

  .products__catalog__title__box {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .products__catalog__sort {
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    flex: 0;
    width: 100%;
  }

  .products__catalog__sort__select {
    flex: 0;
    width: 100%;
  }

  .products__catalog__products__filter {
    top: 32px;
  }
}

@media (max-width: 576px) {
  .products__catalog__products__list {
    grid-template-columns: 1fr;
  }

  .products__catalog__products__list__slider__item__switch__txt {
    display: none;
  }
}
